<div class="mat-elevation-z8">
  <div class="filter-header">
    #Filter title here - TODO
  </div>

  <div class="toolbar">

    <!-- Quick Search -->
    <!-- <div class="search"> -->
    <!-- <mat-form-field floatPlaceholder="never">
        <mat-select #searchBy [(value)]="selectedSearchByFieldId" placeholder="Quick search">
          <mat-option *ngFor="let field of searchableFields" [value]="field.id">
            {{ field.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatPlaceholder="never">
        <mat-select #operator [(value)]="selectedLogicalOperatorId" placeholder="Operator">
          <mat-option *ngFor="let logicalOperator of logicalOperators" [value]="logicalOperator.id">
            {{ logicalOperator.label }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

    <mat-form-field floatPlaceholder="auto" class="quick-search-value">
      <mat-placeholder>
        <mat-icon>search</mat-icon>
        Quick search
      </mat-placeholder>
      <input matInput #searchInput>
    </mat-form-field>
    <!-- </div> -->

    <div>
      <!-- Add -->
      <button mat-icon-button matTooltip="Add" matTooltipPosition="below" (click)="onAdd()">
        <mat-icon aria-label="Add">add</mat-icon>
      </button>

      <!-- Remove -->
      <button mat-icon-button matTooltip="Delete" matTooltipPosition="below" [disabled]="selectedRows.length == 0" (click)="onDelete()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>

      <!-- Refresh -->
      <button mat-icon-button matTooltip="Refresh" matTooltipPosition="below" (click)="onRefresh()">
        <mat-icon aria-label="Refresh">refresh</mat-icon>
      </button>

      <!-- Manage Filters -->
      <button mat-icon-button matTooltip="Filters" matTooltipPosition="below">
        <mat-icon aria-label="Manage filters">filter_list</mat-icon>
      </button>

      <!-- Actions -->
      <button mat-icon-button [matMenuTriggerFor]="menuAction" matTooltip="Actions" matTooltipPosition="below">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu x-position="before" #menuAction="matMenu">
        <button mat-menu-item (click)="onSelectAllRows(true)">Select All</button>
        <button mat-menu-item (click)="onDeselectAllRows()">Deselect All</button>
        <button mat-menu-item (click)="onReload()">Reload</button>
      </mat-menu>
    </div>
  </div>

  <div class="table-container">
    <table mat-table #table [dataSource]="dataSource" matSort *ngIf="data">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="-select-">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="onSelectAllRows($event.checked)" [checked]="isAllSelected()" [indeterminate]="!isAllSelected() && selectedRows.length > 0">
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row">
          <mat-checkbox [checked]="isRowSelected(row)" [value]="row[fieldKey]" (change)="onSelectMultiRows(row, $event.checked)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Other Columns -->
      <ng-container *ngFor="let field of displayedFields" [matColumnDef]="field.fieldId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ field.fieldLabel }}</th>
        <td mat-cell *matCellDef="let row" (click)="onSelectRow(row)">
          {{ getLabel(field.fieldId, row[field.fieldId]) }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="isRowSelected(row)"></tr>
    </table>

    <div class="pagination-container">
      <!-- <div class="pagination-info">
        <span *ngIf="selectedRows.length > 0">
          <strong>{{ selectedRows.length }} </strong> selected
        </span>
      </div> -->

      <mat-paginator [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100, 1000]"></mat-paginator>
    </div>
  </div>
</div>