{{ data | json }}
<form [formGroup]="formGroup" (ngSubmit)="onSave()" *ngIf="meta && data">
    <mat-tab-group>
        <mat-tab *ngFor="let section of meta.sections" [label]="section.label">
            <div class="data-form--body">
                <div *ngFor="let field of displayedFields(section)">
                    <div>
                        <!-- text -->
                        <mat-form-field *ngIf="field.type === 'text'">
                            <input matInput [type]="field.type" [formControlName]="field.id" [placeholder]="field.label">
                        </mat-form-field>

                        <!-- number -->
                        <mat-form-field *ngIf="field.type === 'number'">
                            <input matInput [type]="field.type" [formControlName]="field.id" [placeholder]="field.label">
                        </mat-form-field>

                        <!-- date -->
                        <mat-form-field *ngIf="field.type === 'date'">
                            <input matInput [matDatepicker]="picker" [formControlName]="field.id" [placeholder]="field.label">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <!-- select -->
                        <mat-form-field *ngIf="field.type === 'select'">
                            <mat-select [formControlName]="field.id" [placeholder]="field.label">
                                <mat-option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="data-form--footer">
        <button mat-raised-button type="submit" color="primary">Save</button>
        <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    </div>
</form>